OPENAI_API_KEY=
MODEL_NAME = 
MODEL_TEMPERATURE =
# TAVILY Search API 
TAVILY_API_KEY=
# Cohere re-ranking API 
CO_API_KEY=
# Amadeus API for flight search 
AMADEUS_CLIENT_ID =
AMADEUS_CLIENT_SECRET = 
AMADEUS_API_URL = 
# Vector Store Settings
COMPANY_PDF_FOLDER = "./company_pdfs"
CHROMA_PERSIST_DIRECTORY = "./chroma_db"
CHROMA_COLLECTION_NAME = "company_financials"
# Arize Open Telemetry Settings
ARIZE_SPACE_ID=
ARIZE_API_KEY=
ARIZE_PROJECT_NAME=